CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
.ninja_deps
.ninja_log
build.ninja

.vscode

notes.md 

mindweeper.exe
mindweeper 
a.out

assets/winmine
assets/default

builtin_config.c
src/builtin_config.c

tools/make_builtin_cfg

vcpkg-configuration.json
vcpkg.json

CMakePresets.json


